.App {
  text-align: center;
}

body{
  background-color: #49306B;
}

.questions{
  display: grid;
  grid-template-columns: 20% 60%;
  grid-template-rows: 20% 60%;
  grid-template-areas: "header header";
  text-align: center;
  color: #E2E2E2;
}

.container{
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: auto;
  grid-template-areas: "head head"
                        "main"
                        "main"
                        "main"
                        "main";
  justify-content: center;
  margin-top: 2em;
}

.question_box{
  background-color: #635380;
  color: white;
  border: 0.1em solid #635380;
  border-radius: 15%;
  padding: 1em;
  font-family: 'Times New Roman';
  text-align: start;
}

.answer_box{
  background-color: #90708C;
  margin-top: 2em;
  text-align: center;
  border: 0.1em solid #90708C;
  border-radius: 15%;
  color: white;
  font-family: 'Times New Roman';
  font-size: 1.5em;
  padding-left: 1em;

}

.answer_box:hover{
  background-color: #372B4C;
}

.footing{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 40% 60%;
  justify-content: start;
}

.footer_img{
  width: 10em;
  height: auto;
}

.small_caption a{
  font-size: 0.8em;
  color: white;
  text-align: end;
}