.App {
  text-align: center;
}

body{
  background-color: #49306B;
  background-image: url('https://cdn.pixabay.com/photo/2016/03/27/19/32/book-1283865_1280.jpg');
  background-size: cover;
}

.main_choice{
  display: grid;
  grid-template-columns: 60%;
  grid-template-rows: auto;
  grid-template-areas: "main";
  justify-content: center;
  padding-top: 10em;
}

.category_selection fieldset {
  border: none;
}

.category_selection form {
  text-align: center;
}

#category{
  font-family: 'Times New Roman';
  font-size: 1.5em;
}

.category{
  font-family: 'Trebuchet MS';
  font-size: 3em;
  color: black;
}

.category_button{
  font-family: "Trebuchet MS";
  font-size: 2em;
  background-color: #f2972e;
  width: 5em;
  border-radius: 15em;
}

.container{
  display: grid;
  grid-template-columns: 60%;
  grid-template-rows: auto;
  grid-template-areas: "head head"
                        "main"
                        "main"
                        "main"
                        "main";
  justify-content: center;
  margin-top: 2em;
}

.question_box{
  background-color: #ad9595;
  color: black;
  border: 0.1em solid #5C2751;
  border-radius: 15%;
  font-family:'Trebuchet MS';
  text-align: center;
  font-size: 1em;
}

.answer_box{
  margin-top: 1.5em;
  border: 0.1em solid #6457A6;
  background-color: white;
  border-radius: 15%;
  color: black;
  font-family: 'Trebuchet MS';
  font-size: 1.4em;
  font-weight: bold;
  height: 2em;
}

.answer_box:hover{
  background-color: #372B4C;
  color: white;
}

.footing{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100%;
  justify-content: start;
}

.footer_img{
  width: 8em;
  height: auto;
  padding-left: 3em;
}

.small_caption a{
  font-size: 0.8em;
  color: white;
  text-align: end;
}

.gameOver{
  display: flexbox;
  color: white;
  font-family: 'Franklin Gothic Medium';
  text-align: center;
  height: 20em;
  padding: 2em;
}

.gameOver h3 {
  color: black;
}

.navbar{
  display: flex;
  flex-direction: row-reverse;
  padding-right: 2em;
  color: black;
  font-family: "Trebuchet MS";
  font-size: 1em;
}

.social_container{
  width: 100%;
  height: auto;
  text-align: center;
}

.fa{
  text-decoration: none;
  padding: 1em;
  text-align: center;
  width: 40px;
  margin: 5px 5px;
  border-radius: 50%;
  height: auto;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.gameOn{
  padding-bottom: 2em;
}


@media only screen and (max-width: 1200px){

  body{
    background-size: auto;
    height: 100%;
  }

  .gameOver h1{
    color: black;
  }

  .gameOver h2{
    color: black;
  }

}